on: [push]

name: Check

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout
      - uses: actions-rs/toolchain@v1
        name: Configure toolchain
        with:
          toolchain: nightly
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        name: Run Clippy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
